@model IEnumerable<EventsModel>
@inject SignInManager<AppIdentityUser> SignInManager
@inject UserManager<AppIdentityUser> UserManager
@{
    ViewData["Title"] = "Events";
    ViewData["ActivePage"] = ManageSidebar.Events;
}

<style>


    * {
        box-sizing: border-box
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }



    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

</style>

<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            @foreach (var pic in Model)
            {
                <header class="py-10 mb-4 bg-img-cover mySlides overlay overlay-50 overlay-success" style="background-image: url('/Uploads/Events/@pic.ImageUrl')">
                <div class="container-xl px-4">
                    <div class="text-center z-1">
                        <img src="~/Logo PNG1.png" style="height:100px" />
                        <h1 class="text-white fw-bolder">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                        <p class="lead mb-0 text-white">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                    </div>
                </div>
            </header>
            }
            <!-- Main page content-->
            <div class="container-xl px-4 mt-4">
                <h4 class="mb-0 mt-5">Events</h4>
                <hr class="mt-2 mb-4" />
                <div class="row">
                    <div class="col-xl-8 col-lg-4">
                        @foreach (var item in Model)
                        {
                            <div class="card card-collapsable card-scrollable shadow-none" style="max-height:30rem">
                                <a class="card-header" href="#collapseCard_@item.Id" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard_@item.Id">
                                    @item.Title
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-chevron-down"></i>
                                    </div>
                                </a>
                                <div class="collapse" id="collapseCard_@item.Id">
                                    <div class="card-body">
                                        <ul>
                                            @Html.Raw(item.Objectives)
                                        </ul>
                                        <div class="text-center">
                                            <a href="@Url.Action("EventsDetail","Detail", new { id = item.Id, pageType = "Events"})" class="d-sm-inline-block btn btn-sm btn-info shadow-sm">
                                                <i class="fas fa-info-circle text-white-50"></i> See Full Details
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="card mb-4 shadow-none">
                            <!-- Card Body -->
                            <div class="card-body p-0">
                                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPUP.SCENE.ORG&tabs=timeline&width=350&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=1567968913599100" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>

<script>
    let slideIndex = 0;
    showSlides();

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
</script>





