@model EventsModel

@{
    ViewData["Title"] = "List";
    ViewData["ActivePage"] = ManageSidebar.Events;

}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <header class="py-10 mb-4 bg-green">
                <div class="container-xl px-4">
                    <div class="text-center">
                        <h1 class="text-white">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                        <p class="lead mb-0 text-white-50">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">
                <partial name="_Notification" />

                <h2>Register for Event</h2>

                <p>Event Name: @Model.Title</p>
                <p>Event Date: @Model.PostedDate</p>
                <!-- Add other event details as needed -->

                <p>I read all the important reminders for the Event</p>

                <form method="post" asp-action="RegisterForEventConfirm" asp-route-eventId="@Model.Id">
                    <input value="@ViewBag.UserId" hidden />
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>

                <a asp-action="List">Back to List</a>

            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>


@section Scripts {
    <script src="~/js/CustomScripts.js"></script>
}