@model COLLATEFINAL.ViewModels.CreateRoleViewModel

@{
    ViewData["Title"] = "Create New Role";
    ViewData["ActivePage"] = ManageSidebar.ListRoles;
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />


            <partial name="_NewSidenav"/>
            <div id="layoutSidenav_content">
               <main>
                    <div class="container-xl px-4 mt-4">
                        <partial name="_Notification" />
                        <h1>Create</h1>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="CreateRole">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="RoleName" class="control-label"></label>
                                        <input asp-for="RoleName" class="form-control" />
                                        <span asp-validation-for="RoleName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create Role" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div>
                            <a asp-action="ListRoles">Back to List</a>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </main>
                <partial name="_NewFooter"/>
            </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    
}
