@model IEnumerable<IdentityRole>


@{
    ViewData["Title"] = "All Roles";
    ViewData["ActivePage"] = ManageSidebar.ListRoles;
}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<partial name="_NewNavbar" />
<div id="layoutSidenav">
<partial name="_NewSidenav"/>
<div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
            <partial name="_Notification" />
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="users"></i></div>
                                Roles List
                            </h1>
                        </div>
                        <div class="col-12 col-xl-auto mb-3">
                            <a class="btn btn-sm btn-light text-primary" asp-action="ListUsers">
                                <i class="me-1" data-feather="user"></i>
                                Manage Users
                            </a>
                                        
                            <button class="btn btn-sm btn-light text-primary" type="button" data-bs-toggle="modal" data-bs-target="#createRoleModal">
                                <i class="me-1" data-feather="plus"></i>
                                Create New Role
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4">
            <div class="card card-scrollable">
                <div class="card-body" style="max-height:50rem">
                    <table id="datatablesSimple">
                        <thead class="text-center">
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var role in Model)
                            {
                                <tr>
                                    <td>
                                        @if (role.Name == "sceneOfficer")
                                            {
                                                <div>SCENE Officer</div>
                                            }
                                        else
                                            {
                                                <div>@role.Name</div>
                                            }
                                    </td>
                                    <td>
                                            <a class="btn btn-sm btn-light text-primary" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">
                                                <i class="me-1" data-feather="user"></i>
                                                Manage Role
                                            </a>
                                            <a  class="btn btn-datatable btn-icon btn-transparent-dark" data-bs-toggle="modal" data-bs-target="#editRoleModal_@role.Id"><i data-feather="edit"></i></a>
                                            <a class="btn btn-datatable btn-icon btn-transparent-dark" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal_@role.Id"><i data-feather="trash-2"></i></a>

                                    </td>
                                </tr>
                                <!--Delete Modal -->
                                <div class="modal fade" id="deleteModal_@role.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Delete a Role</h5>
                                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">Are you sure you want to delete @role.Name ?</div>
                                            <div class="modal-footer"><button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                                <form class="form-inline" asp-action="DeleteRole" asp-route-id="@role.Id" method="post">

                                                    <button type="submit" class="btn btn-primary">Delete</button>
                                                </form>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("CreateRoleModal")
        @await Component.InvokeAsync("EditRoleModal")
    </main>
    <partial name="_NewFooter"/>
</div>
</div>

@section Scripts {
    <script src="~/js/CustomScripts.js"></script>
}