@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                                        <img src="~/Logo PNG.png" alt="Logo">
                                    </a>
                                </div>
                                <br>
                                <h1 class="text-center text-dark">@ViewData["Title"]</h1>
                                <hr>
                                <p class="text-center">Please check your email to reset your account.</p>
                                <div class="text-center">
                                    <a class="small" asp-area="Identity" asp-page="/Account/Login">Back to Login</a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
