@using COLLATEFINAL.Views.Shared
@model COLLATEFINAL.Models.PrototypeModel

@{
    ViewData["Title"] = "Create";
    ViewData["ActivePage"] = ManageSidebar.CMSPrototype;

}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<partial name="_NewNavbar" />
<div id="layoutSidenav">
    <partial name="_NewSidenav" />
    <div id="layoutSidenav_content">
        <main>
            <header class="py-10 mb-4 bg-green">
                <div class="container-xl px-4">
                    <div class="text-center">
                        <h1 class="text-white">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                        <p class="lead mb-0 text-white-50">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">
                <partial name="_Notification" />

                <h1>Create</h1>

                <div class="card shadow">
                    <div class="card-header bg-success py-3 text-center">
                        <h6 class="m-0 font-weight-bold text-light text-center">Instructional Materials</h6>
                    </div>

                    <div class="card-body p-3">
                        <form enctype="multipart/form-data" asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Header" class="control-label"></label>
                                        <input asp-for="Header" class="form-control" />
                                        <span asp-validation-for="Header" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Authors" class="control-label"></label>
                                        <input asp-for="Authors" class="form-control" />
                                        <span asp-validation-for="Authors" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="YearSec" class="control-label"></label>
                                        <input asp-for="YearSec" class="form-control" />
                                        <span asp-validation-for="YearSec" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PostedDate" class="control-label"></label>
                                        <input asp-for="PostedDate" class="form-control" />
                                        <span asp-validation-for="PostedDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="UploadedCoverImage" class="control-label"></label>
                                        <div class="custom-file">
                                            <input asp-for="UploadedCoverImage" class="custom-file-input" accept="application/pdf">
                                            <label class="custom-file-label" for="FLCoverImage">Choose File</label>
                                        </div>
                                        <span asp-validation-for="UploadedCoverImage" class="text-danger"></span>


                                    </div>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" class="form-control" rows="8"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CoverImage" class="control-label"></label>
                                        <div class="custom-file">
                                            <input asp-for="CoverImage" class="custom-file-input" id="FLCoverImage" accept="image/png, image/jpeg"
                                                   onChange="document.getElementById('CoverImagePrv').src = window.URL.createObjectURL(this.files[0])">
                                            <label class="custom-file-label" for="FLCoverImage">Choose File</label>
                                        </div>
                                        <img id="CoverImagePrv" src="~/img/no_uploaded.png" alt="Cover Image" width="150"
                                             height="130" style="border:1px; margin-top:20px; margin-left:120px;" />
                                        <span asp-validation-for="CoverImage" class="text-danger"></span>

                                    </div>

                                </div>
                            </div>










                            <div class="float-left">
                                <a asp-action="List">Back to List</a>

                            </div>

                            <div class="float-right">
                                <input type="submit" value="Create" class="btn btn-primary" />

                            </div>

                        </form>
                    </div>
                </div>


            </div>

        </main>
        <partial name="_NewFooter" />
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });  
    </script>
}
