<div id="layoutAuthentication_footer">
    <footer class="footer-admin mt-auto footer-dark">
        <div class="container-xl px-4">
            <div class="row">
                <div class="col-md-6 small">Copyright &copy; COLLATE 2023</div>
                <div class="col-md-6 text-md-end small">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                    &middot;
                    <a asp-area="" asp-controller="Home" asp-action="Terms">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>