@model COLLATEFINAL.Models.GameAndWebDevModel

@{
    ViewData["Title"] = "Create";
    ViewData["ActivePage"] = ManageSidebar.GameAndWebDev;

}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <partial name="_ManageSidebar" />
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">









                    <!-- Nav Item - User Information -->
                    <partial name="_LoginPartialProfileUser" />

                </ul>

            </nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <partial name="_Notification" />
                <ul class="breadcrumb">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                    <li class="text-dark">Software Projects</li>
                </ul>

                <h1>Create</h1>

                <div class="card shadow">
                    <div class="card-header bg-success py-3 text-center">
                        <h6 class="m-0 font-weight-bold text-light text-center">Software Projects</h6>
                    </div>

                    <div class="card-body p-3">
                        <form enctype="multipart/form-data" asp-action="Create">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GroupName" class="control-label"></label><span class="float-right" id="characterCountTeam">(0/50)</span>
                                        <input asp-for="GroupName" id="inputFieldTeam" maxlength="50" class="form-control" />
                                        <span asp-validation-for="GroupName" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label><span class="float-right" id="characterCountTitle">(0/100)</span>
                                        <input asp-for="Title" id="inputFieldTitle" maxlength="100" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="DevelopersName" class="control-label"></label><span class="float-right" id="characterCountDev">(0/200)</span>
                                        <input asp-for="DevelopersName" id="inputFieldDev" maxlength="200" class="form-control" />
                                        <span asp-validation-for="DevelopersName" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="YearSec" class="control-label"></label>
                                        <select asp-for="YearSec" class="form-control" asp-items="@ViewBag.yearandsec"></select>
                                        <span asp-validation-for="YearSec" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="PostedDate" class="control-label"></label>
                                        <input asp-for="PostedDate" id="myDateTimeField" min="2011-01-01" max="2050-12-31" class="form-control" />
                                        <span asp-validation-for="PostedDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="VidLink" class="control-label"></label><span class="float-right" id="characterCountVL">(0/200)</span>
                                        <label>NOTE: When inserting embedded video replace the height and width to <strong>class="col-sm-12" height="250"</strong> else type <strong>"none"</strong></label>
                                        <input asp-for="VidLink" id="inputFieldVL" maxlength="200" class="form-control" />
                                        <span asp-validation-for="VidLink" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label><span class="float-right" id="characterCountDesc">(0/2000)</span>
                                        <textarea asp-for="Description" id="myTextAreaDesc" maxlength="2000" class="form-control" rows="8"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CoverImage" class="control-label"></label>
                                        <div class="custom-file">
                                            <input asp-for="CoverImage" class="custom-file-input" id="FLCoverImage" accept="image/png, image/jpeg"
                                                   onChange="document.getElementById('CoverImagePrv').src = window.URL.createObjectURL(this.files[0])">
                                            <label class="custom-file-label" for="FLCoverImage">Choose File</label>
                                        </div>
                                        <img id="CoverImagePrv" src="~/img/no_uploaded.png" alt="Cover Image" width="150"
                                             height="130" style="border:1px; margin-top:20px; margin-left:120px;" />
                                        <span asp-validation-for="CoverImage" class="text-danger"></span>

                                    </div>

                                </div>
                            </div>



                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="GameLink" class="control-label"></label><span class="float-right" id="characterCountGL">(0/200)</span>
                                        <input asp-for="GameLink" id="inputFieldGL" maxlength="200" class="form-control" />
                                        <span asp-validation-for="GameLink" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                    </div>

                                </div>
                            </div>






                            <div class="float-left">
                                <a asp-action="List">Back to List</a>

                            </div>

                            <div class="float-right">
                                <input type="submit" value="Create" class="btn btn-primary" />

                            </div>

                        </form>
                    </div>
                </div>

                

                

                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <partial name="_Footer" />

        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/CustomScripts.js"></script>

    <script>
        var datetimeField = document.getElementById("myDateTimeField");

        // Get the current date and time
        var now = new Date();

        // Set the value of the datetime field
        datetimeField.value = now.toISOString().slice(0, 16);

    </script>
    <script>
        var input1 = document.getElementById("inputFieldTeam");
        var input2 = document.getElementById("inputFieldTitle");
        var input3 = document.getElementById("inputFieldDev");
        var input5 = document.getElementById("inputFieldVL");
        var input6 = document.getElementById("inputFieldGL");
        var textarea = document.getElementById("myTextAreaDesc");
        var characterCount = document.getElementById("characterCountDesc");
        var characterCount1 = document.getElementById("characterCountTeam");
        var characterCount2 = document.getElementById("characterCountTitle");
        var characterCount3 = document.getElementById("characterCountDev");
        var characterCount5 = document.getElementById("characterCountVL");
        var characterCount6 = document.getElementById("characterCountGL");
        

        input1.addEventListener("input", function () {
            var input = input1.value;

            var count = input.length;
            if (input.length > 50) {
                input.value = textField.value.slice(0, 50);
            }
            characterCount1.textContent = "(" + count + "/" + "50" + ")";
        });
        input2.addEventListener("input", function () {
            var input = input2.value;

            var count = input.length;
            if (input.length > 100) {
                input.value = textField.value.slice(0, 100);
            }
            characterCount2.textContent = "(" + count + "/" + "100" + ")";
        });
        input3.addEventListener("input", function () {
            var input = input3.value;

            var count = input.length;
            if (input.length > 200) {
                input.value = textField.value.slice(0, 200);
            }
            characterCount3.textContent = "(" + count + "/" + "200" + ")";
        });
        input5.addEventListener("input", function () {
            var input = input5.value;

            var count = input.length;
            if (input.length > 200) {
                input.value = textField.value.slice(0, 200);
            }
            characterCount5.textContent = "(" + count + "/" + "200" + ")";
        });
        input6.addEventListener("input", function () {
            var input = input6.value;

            var count = input.length;
            if (input.length > 200) {
                input.value = textField.value.slice(0, 200);
            }
            characterCount6.textContent = "(" + count + "/" + "200" + ")";
        });
        textarea.addEventListener("input", function () {
            var input = textarea.value;

            var count = input.length;
            if (input.length > 2000) {
                input.value = textField.value.slice(0, 2000);
            }
            characterCount.textContent = "(" + count + "/" + "2000" + ")";
        });
        
    </script>

    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });  
    </script>
}
