@model COLLATEFINAL.Models.FeedbackModel

@{
    ViewData["Title"] = "About Us";
    ViewData["ActivePage"] = ManageSidebar.About;
}
<style>
    .img-smlogo-modal {
        height: 5rem;
        width: 5rem;
    }

</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

<partial name="_NewNavbar" />
<div id="layoutSidenav">
<partial name="_NewSidenav" />
<div id="layoutSidenav_content">
    <main>
        <header class="py-10 mb-4 bg-img-cover" style="background-image: url('/new/assets/img/bg-scene.svg')">
            <div class="container-xl px-4">
                <div class="text-center">
                    <img src="~/Logo PNG1.png" style="height:100px" />
                    <h1 class="text-white fw-bolder">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                    <p class="lead mb-0 text-white">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-waves mb-4">
                        <!-- Page Heading -->
                        <div class="card-header mb-3 text-center">
                            <h1 class="m-0 font-weight-bold text-success text-center">ABOUT US</h1>
                        </div>
                        <div class="card-body">
                            <p class="text-center p-3">
                                This team started during the year 1st of college composing of only 5 members until it grows and had a 2nd generation. We are mostly specialized with C# Language, and applications that can be made for game and web development such as ASP.Net Framework and Unity Engine. Consistent seeking for improvement, knowledge and skills are the best practices of our group.
                            </p>
                            <div class="row text-center">
                                <div class="col-sm-12">
                                    <img class="lift img-smlogo-modal rounded-circle mb-3" src="~/VOLTEZ-4.0.png">
                                    <img class="lift img-smlogo-modal mb-3" src="~/img/logoscene.png">
                                    <img class="lift img-smlogo-modal rounded-circle mb-3" src="~/pup-logo.png">
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header mb-3 text-center">
                            <h3 class="m-0 font-weight-bold text-success text-center">MEET THE TEAM</h3>
                        </div>
                        
                        <div class="card-body">
                            <div class="card-body row text-center">

                                <div class="col-lg-4 col-sm-4 p-1">
                                    <img class="lift shadow img-smlogo-modal rounded-circle mb-3" src="~/about-us/tys.jpg">
                                    <h6 class="font-weight-bold">Reynaldo Cortez Jr.</h6>
                                    <p class="small">Software Developer</p>
                                </div>
                                <div class="col-lg-4 col-sm-4 p-1">
                                    <img class="lift shadow img-smlogo-modal rounded-circle mb-3" src="~/about-us/jolee.jpeg">
                                    <h6 class="font-weight-bold">Julie-An Adio</h6>
                                    <p class="small">System Analyst</p>
                                </div>
                                <div class="col-lg-4 col-sm-4 p-1">
                                    <img class="lift shadow img-smlogo-modal rounded-circle mb-3" src="~/about-us/leix.jpeg">
                                    <h6 class="font-weight-bold">Leixander Gomez</h6>
                                    <p class="small">UI/UX Designer</p>
                                </div>
                            </div>

                            <div class="text-center">
                                <h5 class="m-0 font-weight-bold text-success text-center">KEEP IN TOUCH</h5>
                            </div>
                            <div class="my-3 text-center">
                                <a href="#" class="btn btn-facebook btn-circle btn-sm">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="btn btn-google btn-circle btn-sm">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a href="#" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#" class="btn btn-primary btn-circle btn-sm">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="#" class="btn btn-info btn-circle btn-sm">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#feedbackModal">Send us your Feedback!</a>
                </div>
            </div>
        </div>
    </main>
    <partial name="_NewFooter" />
</div>
    <!-- Feedback Modal-->
    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Send us your feedback</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form class="user" asp-action="About">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2">
                            <p class="my-1 text-center font-weight-bold">From:</p>
                        </div>
                        <div class="col-10">
                            <input asp-for="FullName" class="form-control mb-2" placeholder="Enter your Name" />
                        </div>
                        <div class="col-12">
                            <textarea asp-for="Feedback" class="form-control" rows="4" placeholder="Type your suggestions here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/CustomScripts.js"></script>
    
}