@{
    ViewData["Title"] = "Home Page";
    ViewData["ActivePage"] = ManageSidebar.Home;
}

<partial name="_NewNavbar" />
<div id="layoutSidenav">
<partial name="_NewSidenav" />
<div id="layoutSidenav_content">
    <main>
        <header class="py-10 mb-4 bg-img-cover" style="background-image: url('new/assets/img/bg-scene.svg')">
            <div class="container-xl px-4">
                <div class="text-center">
                        <img src="~/Logo PNG1.png" style="height:100px" />
                    <h1 class="text-white fw-bolder">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                    <p class="lead mb-0 text-white">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4">
            <!-- Illustration dashboard card example-->
            <div class="card shadow-none rounded-xl card-waves mb-4 mt-5">
                <div class="card-body p-5">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-8">
                            <h2 class="text-green fw-bolder">Students of Computer Engineering with Natural Excellence (SCENE)</h2>
                            <p class="text-gray-700">SCENE is an organization in PUP-Paranaque that serves as the representatives of computer engineering students.</p>
                            <p class="text-gray-700">It was formed way back in 2013 with its  first president, Mr. John Michael Dabu. Currently, SCENE has 200 students and managed by Prof. Engr. Marvin De Pedro, the Bachelor of Science in Computer Engineering Coordinator.</p>
                            
                        </div>
                        <div class="col-4 d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 text-center mt-xxl-n5" src="~/img/logoscene.png" style="max-height:300px"/></div>
                    </div>
                </div>
            </div>
            <!-- Content Row -->
            <div class="row">
                <div class="col-lg-5 mb-4">
                    <!-- Illustration card example-->
                    <div class="card shadow-none rounded-xl mb-4">
                        <div class="card-header text-center p-3">
                            <h4 class="text-green fw-bolder">Vision</h4>
                        </div>
                        <div class="card-body text-center">
                            <p class="mb-4">
                                Students of Computer Engineering with Natural Excellence (SCENE) serves as beacon for Computer Engineering Students of PUP Paranaque, supports its members in improving their skills, experience, and knowledge as the age of technology continous to grow into the next generation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 mb-4">
                    <div class="card shadow-none rounded-xl">
                        <div class="card-header text-center p-3">
                            <h4 class="text-green fw-bolder">Philosophy</h4>
                        </div>
                        <div class="card-body">
                            <div class="timeline timeline-xs">
                                <!-- Timeline Item 1-->
                                <div class="timeline-item">
                                    <div class="timeline-item-marker">
                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                    </div>
                                    <div class="timeline-item-content">
                                        To represent the Computer Engineering Students of Polytechnic University of the Philippines - Paranaque Campus.
                                    </div>
                                </div>
                                <!-- Timeline Item 2-->
                                <div class="timeline-item">
                                    <div class="timeline-item-marker">
                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                    </div>
                                    <div class="timeline-item-content">
                                        To promote general welfare of its members.
                                    </div>
                                </div>
                                <!-- Timeline Item 3-->
                                <div class="timeline-item">
                                    <div class="timeline-item-marker">
                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                    </div>
                                    <div class="timeline-item-content">
                                        To act as liaison between the Computer Engineering Students on one hand and the campus (and the university as a whole) on the other hand and shall cooperate with the other organization such as Central Student Council and other Organizations.
                                    </div>
                                </div>
                                <!-- Timeline Item 4-->
                                <div class="timeline-item">
                                    <div class="timeline-item-marker">
                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                    </div>
                                    <div class="timeline-item-content">
                                        To promote educational, physical and social well being of its members.
                                    </div>
                                </div>
                                <!-- Timeline Item 5-->
                                <div class="timeline-item">
                                    <div class="timeline-item-marker">
                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                    </div>
                                    <div class="timeline-item-content">
                                        To acquaint its members on the new emerging technologies.
                                    </div>
                                </div>
                                <!-- Timeline Item 6-->
                                <div class="timeline-item">
                                    <div class="timeline-item-marker">
                                        <div class="timeline-item-marker-indicator bg-green"></div>
                                    </div>
                                    <div class="timeline-item-content">
                                        To strengthen SCENE's linkages to other organization, not only in the University but also in the nation as a whole.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <partial name="_NewFooter"/>
</div>
</div>