@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["ActivePage"] = ManageSidebar.Home;
}

<partial name="_NewNavbar" />
<div id="layoutSidenav">
<partial name="_NewSidenav" />
<div id="layoutSidenav_content">
    <main>
        <header class="py-10 mb-4 bg-img-cover" style="background-image: url('/new/assets/img/bg-scene.svg')">
            <div class="container-xl px-4">
                <div class="text-center">
                    <img src="~/Logo PNG1.png" style="height:100px" />
                    <h1 class="text-white fw-bolder">Collection of Latest Laboratory Activities, Trainings & Engagements</h1>
                    <p class="lead mb-0 text-white">A project website of SCENE organization designed to provide secure and efficient data management for Computer Engineering students.</p>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4">

        </div>
        
    </main>
    <partial name="_NewFooter"/>
</div>
</div>