@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}





@section Scripts {
    @RenderSection("Scripts", required: false)
}


@{
    ViewData["Title"] = "Profile";
}
<body id="page-top" class="bg-login-image">

   
<!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->

           <partial name="_ManageNav" />

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

                    <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>


            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                





                

                <!-- Nav Item - User Information -->
                <partial name="_LoginPartialProfileUser" />

            </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Area Chart -->
        <div class="col-xl-12 col-l-12">

            <div class="card shadow mb-4 p-3 bg-light">
                
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Change your Account Settings</h6>
                    
                </div>
                <div class="m-3">
                @RenderBody()
                </div>


            </div>
        </div>

                    </div>
            <!-- Footer -->
            <partial name="_Footer" />

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
        
</body>






