@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<style>
    .password-container {
        position: relative;
    }

        .password-container input {
            padding-right: 30px; /* Add extra space for the icon */
        }

        .password-container .icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }
</style>
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-7">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="password-container">
                <input asp-for="Input.OldPassword" class="form-control" id="passwordInput1" maxlength="20" autocomplete="current-password" aria-required="true" />
                <i class="icon fas fa-eye" id="showPasswordIcon1"></i>
            </div>
            <div class="form-group">
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="password-container">
                <input asp-for="Input.NewPassword" class="form-control" id="passwordInput2" maxlength="20" autocomplete="new-password" aria-required="true" />
                <i class="icon fas fa-eye" id="showPasswordIcon2"></i>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="password-container">
                <input asp-for="Input.ConfirmPassword" class="form-control" id="passwordInput3" maxlength="20" autocomplete="new-password" aria-required="true" />
                <i class="icon fas fa-eye" id="showPasswordIcon3"></i>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script>
        // Get references to the HTML elements
        var passwordInput1 = document.getElementById("passwordInput1");
        var passwordInput2 = document.getElementById("passwordInput2");
        var passwordInput3 = document.getElementById("passwordInput3");
        var showPasswordIcon1 = document.getElementById("showPasswordIcon1");
        var showPasswordIcon2 = document.getElementById("showPasswordIcon2");
        var showPasswordIcon3 = document.getElementById("showPasswordIcon3");

        // Add a click event listener to the showPasswordIcon
        showPasswordIcon1.addEventListener("click", function () {
            // Toggle the input type between "password" and "text" based on icon class
            if (passwordInput1.type === "password") {
                passwordInput1.type = "text";
                showPasswordIcon1.classList.remove("fa-eye");
                showPasswordIcon1.classList.add("fa-eye-slash");
            } else {
                passwordInput1.type = "password";
                showPasswordIcon1.classList.remove("fa-eye-slash");
                showPasswordIcon1.classList.add("fa-eye");
            }
        });
        showPasswordIcon2.addEventListener("click", function () {
            // Toggle the input type between "password" and "text" based on icon class
            if (passwordInput2.type === "password") {
                passwordInput2.type = "text";
                showPasswordIcon2.classList.remove("fa-eye");
                showPasswordIcon2.classList.add("fa-eye-slash");
            } else {
                passwordInput2.type = "password";
                showPasswordIcon2.classList.remove("fa-eye-slash");
                showPasswordIcon2.classList.add("fa-eye");
            }
        });
        showPasswordIcon3.addEventListener("click", function () {
            // Toggle the input type between "password" and "text" based on icon class
            if (passwordInput3.type === "password") {
                passwordInput3.type = "text";
                showPasswordIcon3.classList.remove("fa-eye");
                showPasswordIcon3.classList.add("fa-eye-slash");
            } else {
                passwordInput3.type = "password";
                showPasswordIcon3.classList.remove("fa-eye-slash");
                showPasswordIcon3.classList.add("fa-eye");
            }
        });
    </script>
}
